.header{ background-color:purple ; text-align: center; font-style: italic; padding: 20px;}
*{box-sizing: border-box;}
body{margin: 0;}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
   }
   /* Style the topnav links */
   .topnav a { float: left; display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; }
   /* Change color on hover */
   .topnav a:hover {background-color: #ddd; color: black; }
   </style>
.column {
    float:left ;
    width: 33.33%; 
    padding: 15px;
   }
   /* Clear floats after the columns */
.row::after {
    content: "";  display: table;clear: both;
   }
.columnlayout{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: rgb(rgb(156, 134, 134), green, blue);
    padding: 20px;
   }
.columnvalue{ background-color: rgb(150, 124, 124);
    text-align: center;
    font-style: italic;
    text-decoration: solid;
    border: solid black;
    padding: 50px;
    
}
.header2{text-align: center; border: solid black; font-style: oblique;}
.subhead{text-align: center; font-style: initial;}
.row{
    display: grid;
    grid-template-rows: auto;
    background-color: rgb(rgb(156, 134, 134), green, blue);
    padding: 20px;
}
.footer{ text-align: center; border: solid black;}


.navbar{ background-color: #e3e3e3; display: grid; grid-template-columns: auto auto auto; padding: 40px 100px;}
.applybtn{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.boxes{
    display: flex;
}
.box1{
    width: 150px;
    height: 150px;
    border: solid black;
}
.box2{
    width: 150px;
    height: 150px;
    border: solid black;
}
.box3{
    width: 150px;
    height: 150px;
    border: solid black;
}
.box4{
    width: 150px;
    height: 150px;
    border: solid black;
}

.dp-wrapper{
    
}